.contenedorItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.contenedorItem img {
    width: 200px;
    height: 220px;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 400px;
    width: 600px;
    height: 480px;
    border: 1px solid black;
    border-radius: 5px;
}